<div data-role="header">
  <h1>Listing tasks</h1>
</div>
<div data-role="content">
  <p id="notice"><%= notice %></p>
  <ul data-role="listview" data-split-theme="d" data-split-icon="gear" data-inset="true">
    <% @tasks.each do |task| %>
      <li>
       
         <%= link_to task.title, task%>

         <%= link_to 'Edit', edit_task_path(task)%>
      </li>
    <% end %>
  </ul>
</div>
<div data-role="footer">
  <%= link_to 'New Task', new_task_path %>
</div>
